.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
*.hprof
*.ap_
*.aab
*.dex
*.class
bin/
gen/                
# OSX files
.DS_Store
.gradle
build/
.navigation
captures/
output.json 
obj/
.externalNativeBuild
.vs
.vscode